
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag user.get_profile_image(100,100) %>
        <table class="table table-bordered">
          <thead class="table-light">
            <tr>
              <th>name</th><td><%= user.name %></td>
            </tr>
            <tr>
              <th>introduction</th><td><%= user.introduction %></td>
            </tr>
          </thead>
        </table>

      <div>
        <% if user == current_user %>
          <%= link_to edit_user_path(user),class:"btn btn-outline-secondary" do %>
          <!--<a class="btn-outline-dark" href="edit_user_path(user)" role="button">Edit user</a>-->
          <i class="fas fa-user-cog"></i>
          <% end %>
        <% end %>
      </div>

      <!--投稿フォーム作る-->
      <h2>New book</h2>
      <%= form_with model: book,local:true do |f| %>

        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label :body %><br>
          <%= f.text_area :body %>
        </div>

        <div class="actions">
          <%= f.submit 'Create Book', class: "btn btn-success" %>
          <%# f.submit 'button', class: "btn" %>
        </div>
      <% end %>
    </div>